.w-form-formradioinput--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.w-form-formradioinput--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom.w--redirected-checked {
  border-top-width: 4px;
  border-bottom-width: 4px;
  border-left-width: 4px;
  border-right-width: 4px;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
}

body {
  font-family: Spartan, sans-serif;
  color: #252525;
  font-size: 18px;
  line-height: 28px;
  font-weight: 300;
}

h1 {
  display: inline-block;
  max-width: 800px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Rakkas, sans-serif;
  font-size: 80px;
  line-height: 85px;
  font-weight: 400;
  text-transform: none;
}

h2 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: Rakkas, sans-serif;
  font-size: 38px;
  line-height: 45px;
  font-weight: 400;
  text-transform: none;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

h4 {
  max-width: 800px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

p {
  max-width: 800px;
  margin: 20px auto;
  font-family: Spartan, sans-serif;
  font-weight: 400;
}

a {
  color: #ff4040;
  text-decoration: underline;
}

li {
  margin-bottom: 10px;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 400;
}

.prehead {
  background-color: #fff;
  text-align: center;
}

.logo {
  width: 400px;
  margin-right: auto;
  margin-left: auto;
}

.navbar {
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: #252525;
  color: #fff;
  text-align: center;
}

.nav-link {
  padding-top: 20px;
  padding-bottom: 16px;
  color: #fff;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.nav-link:hover {
  background-color: #ff4040;
}

.nav-link.w--current {
  color: #fff;
}

.nav-link.w--current:hover {
  color: #fff;
}

.nav-menu {
  float: none;
}

.nav-menu.country {
  width: 10%;
  float: right;
}

.bridge-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  background-image: none;
  background-position: 0px 0px;
  background-size: auto;
  color: #252525;
}

.pillar {
  display: inline-block;
  width: 50%;
  padding: 140px 40px 60px;
  background-color: rgba(233, 79, 55, 0.2);
  text-align: center;
}

.pillar.p2 {
  background-color: rgba(180, 225, 255, 0.4);
}

.intro {
  padding: 100px 0px 90px;
  background-color: #252525;
  background-image: url('../images/zpattern2.svg');
  background-position: 50% 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  color: #fff;
  text-align: center;
}

.container {
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
}

.button {
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-top: 14px;
  border-style: solid;
  border-width: 4px;
  border-color: #252525;
  background-color: transparent;
  font-family: Spartan, sans-serif;
  color: #252525;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.button:hover {
  border-style: solid;
  border-width: 4px;
  border-color: #252525;
  background-color: #252525;
  color: #fff;
}

.button.rev {
  border-color: #fff;
  color: #fff;
}

.button.rev:hover {
  background-color: #fff;
  color: #252525;
}

.video {
  position: relative;
  margin-top: 20px;
  margin-bottom: -90px;
  border-style: solid;
  border-width: 20px;
  border-color: #252525;
}

.red {
  color: #ff4040;
}

.letter {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background-color: #fff;
}

._50col {
  position: relative;
  display: inline-block;
  width: 50%;
  max-width: 660px;
  min-height: 40px;
  padding: 40px 20px;
}

.form {
  position: relative;
  z-index: 2;
  max-width: 600px;
  margin: -85px auto;
  padding: 20px;
  border-style: none;
  border-width: 4px;
  border-color: #252525;
  background-color: #252525;
  color: #fff;
  -o-object-fit: fill;
  object-fit: fill;
}

.text-field {
  height: 60px;
  margin-bottom: 20px;
  border-style: none;
  border-width: 4px;
  border-color: #252525;
  background-color: #fff;
  color: #ff4040;
  font-size: 25px;
  line-height: 32px;
  font-weight: 900;
}

.lettertext {
  overflow: hidden;
  padding: 5px 20px 20px;
  border-style: solid;
  border-width: 4px;
  border-color: #ff4040;
}

.letterrtb {
  overflow: hidden;
  height: 150px;
}

.form-block {
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
}

.hiddenb {
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-top: 14px;
  border-style: solid;
  border-width: 4px;
  border-color: #252525;
  background-color: #ff4040;
  font-family: Spartan, sans-serif;
  color: #fff;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.hiddenb:hover {
  border-style: solid;
  border-width: 4px;
  border-color: #252525;
  background-color: #ff4040;
  color: #252525;
}

.hiddenb.rev {
  border-color: #fff;
  color: #fff;
}

.hiddenb.rev:hover {
  background-color: #fff;
  color: #252525;
}

.goals {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 40px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: #252525;
  color: #fff;
  text-align: center;
}

.note {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 18px;
}

.goal {
  position: relative;
  z-index: 0;
  display: block;
  width: 20%;
  min-height: 200px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 20px;
  float: left;
  background-color: #ff4040;
  -webkit-transition: box-shadow 200ms ease, -webkit-transform 200ms ease;
  transition: box-shadow 200ms ease, -webkit-transform 200ms ease;
  transition: box-shadow 200ms ease, transform 200ms ease;
  transition: box-shadow 200ms ease, transform 200ms ease, -webkit-transform 200ms ease;
  font-family: Spartan, sans-serif;
  color: #fff;
  font-weight: 900;
  text-align: center;
  text-decoration: none;
}

.goal:hover {
  z-index: 1;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.31);
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.goal.g2 {
  background-color: #b4e1ff;
  color: #252525;
}

.goal.g3 {
  background-color: #fff;
  color: #252525;
}

.goal.g4 {
  background-color: #252525;
  color: #fff;
}

.gicon {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin-bottom: 15px;
  padding: 24px 10px 10px;
  border-style: solid;
  border-width: 4px;
  border-color: #252525;
  border-radius: 300px;
  font-weight: 900;
  text-decoration: none;
}

.goaltext {
  font-weight: 800;
}

.success-message {
  background-color: #252525;
  color: #fff;
  font-weight: 900;
}

.planblock {
  position: relative;
  padding-top: 60px;
  padding-bottom: 70px;
  background-color: #ff4040;
  color: #fff;
  text-align: center;
}

.planrow {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100px;
}

.planleft {
  display: inline-block;
  width: 50%;
  min-height: 20px;
  padding: 0px 40px 0px 20px;
  border-right: 2px solid #252525;
  text-align: right;
}

.planright {
  display: inline-block;
  width: 50%;
  min-height: 20px;
  padding: 0px 20px 0px 40px;
  border-left: 2px solid #252525;
  text-align: left;
}

.plancontent {
  display: inline-block;
  max-width: 600px;
  text-align: left;
}

.plandot {
  position: absolute;
  left: 0%;
  top: 40%;
  right: 0%;
  bottom: 0%;
  width: 30px;
  height: 30px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 20px;
  background-color: #252525;
}

.section {
  overflow: hidden;
}

.scores {
  padding: 60px 20px 49px;
  background-color: #252525;
  color: #fff;
  text-align: center;
}

.openletter {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ff4040;
  color: #fff;
  text-align: center;
}

.datascore {
  padding-top: 20px;
  padding-bottom: 40px;
}

.about {
  padding: 60px 20px;
  background-color: #fff;
  text-align: center;
}

.logopartner {
  width: 20%;
  margin-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

.faqblock {
  position: relative;
  max-width: 800px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  border-bottom: 1px solid #ff4040;
  text-align: left;
}

.faqhead {
  position: relative;
  z-index: 2;
  padding-top: 10px;
  padding-right: 50px;
  padding-bottom: 10px;
  font-weight: 800;
  cursor: pointer;
}

.faqrtb {
  position: relative;
  top: -15px;
  overflow: hidden;
  height: 0px;
  max-width: 800px;
  line-height: 30px;
}

.plus {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  width: 30px;
  height: 30px;
  margin-top: 5px;
}

.linebreak {
  height: 4px;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #252525;
}

.linebreak.red {
  background-color: #ff4040;
}

.footer {
  padding-top: 100px;
  padding-bottom: 30px;
  background-color: #fff;
  background-image: url('../images/zpatternblack.svg');
  background-position: 50% 0%;
  background-size: 100%;
  background-repeat: no-repeat;
  color: #252525;
  text-align: center;
}

.footlink {
  display: inline-block;
  padding: 10px;
  color: #fff;
  font-weight: 800;
  text-decoration: none;
  text-transform: uppercase;
}

.footlink:hover {
  color: #ff4040;
}

.reportblock {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1300px;
  margin: 10px auto;
  padding-top: 12px;
  padding-bottom: 12px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.reportlink {
  width: 23%;
  margin-right: 1%;
  margin-bottom: 20px;
  margin-left: 1%;
  padding: 15px 20px 20px;
  border-style: solid;
  border-width: 4px;
  border-color: #ff4040;
  background-color: #fff;
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
  color: #ff4040;
  font-weight: 700;
  text-align: left;
  text-decoration: none;
}

.reportlink:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.rname {
  font-family: Rakkas, sans-serif;
  color: #252525;
  font-size: 25px;
  line-height: 32px;
  font-weight: 400;
}

.ricon {
  width: 50px;
}

.cicon {
  display: inline-block;
  max-width: 28px;
}

.text-block {
  display: inline;
  margin-right: 0px;
  margin-left: 5px;
}

.country {
  padding: 18px 10px;
  color: #fff;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.country:hover {
  background-color: #ff4040;
}

.country.w--current {
  color: #ff4040;
}

.country.w--current:hover {
  color: #fff;
}

.icon-2 {
  margin-right: 6px;
}

.dropdown {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.dropdown-link {
  width: 100%;
  padding: 16px 10px;
  color: #252525;
  font-size: 12px;
  font-weight: 800;
  text-decoration: none;
  text-transform: uppercase;
}

.dropdown-link:hover {
  background-color: #252525;
  color: #fff;
}

.dropdown-list {
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
}

.dropdown-list.w--open {
  top: 64px;
  min-width: 200px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #fff;
}

.tablink {
  margin-right: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
  padding: 14px;
  border-style: solid;
  border-width: 4px;
  border-color: #252525;
  background-color: transparent;
  color: #252525;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.tablink:hover {
  background-color: #252525;
  color: #fff;
}

.tablink.w--current {
  background-color: #252525;
  color: #fff;
}

.tablink.w--current:hover {
  color: #fff;
}

.tabs-menu {
  display: block;
  width: 100%;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px 10px 0px;
  border-style: solid;
  border-width: 4px;
  border-color: #fff;
  background-color: #fff;
}

.tab-title {
  position: relative;
  top: 2px;
  display: inline-block;
  margin-left: 10px;
  line-height: 20px;
}

.flag {
  max-width: 100px;
}

.tabpane {
  padding: 20px;
  border-style: none solid solid;
  border-width: 4px;
  border-color: #fff;
}

.planimage {
  width: 100%;
  max-width: 600px;
}

.image {
  width: 100%;
  max-width: 500px;
  border-style: solid;
  border-width: 10px;
  border-color: #fff;
}

.sign {
  text-decoration: underline;
}

.text-span {
  color: #ff4040;
}

.checkbox {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.radio-button {
  width: 20px;
  height: 20px;
}

.radio-button-label {
  margin-left: 10px;
}

.heading {
  color: #fff;
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 40px;
    line-height: 50px;
  }

  h2 {
    margin-bottom: 0px;
    font-size: 30px;
    line-height: 35px;
  }

  h3 {
    font-size: 20px;
    line-height: 25px;
  }

  .navbar {
    background-color: #252525;
  }

  .nav-link {
    text-align: center;
  }

  .nav-menu {
    border-bottom: 4px solid #ff4040;
    background-color: #252525;
  }

  .bridge-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .pillar {
    width: 100%;
    padding-top: 60px;
  }

  .intro {
    padding-top: 50px;
    padding-bottom: 60px;
  }

  .container {
    padding-right: 20px;
    padding-left: 20px;
  }

  .button {
    padding-bottom: 13px;
    font-size: 16px;
    line-height: 18px;
  }

  .video {
    margin-bottom: 20px;
  }

  .letter {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }

  ._50col {
    width: 100%;
    max-width: none;
    padding: 20px;
  }

  .form {
    max-width: 700px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .text-field {
    height: 50px;
  }

  .lettertext {
    margin-top: 15px;
    margin-bottom: -40px;
  }

  .form-block {
    padding-right: 20px;
    padding-left: 20px;
  }

  .hiddenb {
    padding-bottom: 13px;
    font-size: 16px;
    line-height: 18px;
  }

  .goals {
    display: none;
  }

  .planblock {
    padding-top: 40px;
    padding-bottom: 30px;
  }

  .planleft {
    min-height: 0px;
  }

  .planright {
    min-height: 0px;
  }

  .scores {
    padding-top: 20px;
    padding-bottom: 30px;
  }

  .about {
    padding-top: 20px;
    padding-bottom: 30px;
  }

  .linebreak {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .footer {
    padding-top: 60px;
    padding-bottom: 20px;
  }

  .reportblock {
    padding-right: 20px;
    padding-left: 20px;
  }

  .reportlink {
    width: 48%;
  }

  .menu-button {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 7px;
    padding-bottom: 6px;
  }

  .menu-button.w--open {
    background-color: #252525;
    color: #ff4040;
  }

  .icon {
    font-size: 38px;
  }

  .icon:hover {
    color: #ff4040;
  }

  .country {
    padding-top: 11px;
    padding-bottom: 11px;
    text-align: center;
  }

  .dropdown-list.w--open {
    top: 50px;
  }

  .tablink {
    text-align: center;
  }

  .image {
    max-width: 400px;
  }

  .radio-button-field {
    text-align: left;
  }
}

@media screen and (max-width: 767px) {
  body {
    font-size: 16px;
    line-height: 25px;
  }

  p {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .prehead {
    padding-right: 10px;
    padding-left: 10px;
  }

  .nav-link {
    padding-top: 13px;
    padding-bottom: 10px;
  }

  .pillar {
    width: 100%;
    padding: 40px 20px;
  }

  .video {
    margin-bottom: 30px;
    border-style: none;
  }

  ._50col {
    padding-right: 0px;
    padding-left: 0px;
  }

  .gicon {
    position: relative;
    z-index: 1;
  }

  .planblock {
    padding-top: 30px;
    padding-bottom: 20px;
  }

  .planrow {
    display: block;
    min-height: 0px;
    padding-bottom: 0px;
  }

  .planrow.resrev {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .planleft {
    width: 100%;
    min-height: 0px;
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 0px;
    border-right-style: none;
  }

  .planright {
    display: block;
    width: 100%;
    min-height: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 20px;
    border-left-style: none;
  }

  .plancontent {
    display: block;
    margin-bottom: 30px;
    text-align: center;
  }

  .plandot {
    display: none;
  }

  .scores {
    padding-right: 0px;
    padding-left: 0px;
  }

  .openletter {
    padding-right: 10px;
    padding-left: 20px;
  }

  .reportlink {
    margin: 5px auto;
    padding: 10px 10px 15px;
    text-align: center;
  }

  .rname {
    font-size: 18px;
    line-height: 25px;
  }

  .tablink {
    margin-right: 5px;
    margin-bottom: 10px;
    margin-left: 5px;
  }

  .tabs-menu {
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 5px;
  }

  .tabpane {
    padding-bottom: 10px;
  }

  .planimage {
    position: relative;
    z-index: 0;
    margin-bottom: -59px;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    margin-top: 10px;
    font-size: 30px;
    line-height: 40px;
  }

  h2 {
    font-size: 24px;
    line-height: 30px;
  }

  h3 {
    font-size: 16px;
  }

  p {
    font-size: 14px;
    line-height: 20px;
  }

  .intro {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .container {
    padding-right: 10px;
    padding-left: 10px;
  }

  .button {
    margin-right: 5px;
    margin-left: 5px;
    padding-bottom: 10px;
    font-size: 14px;
  }

  .button.rev {
    margin-right: auto;
    margin-left: auto;
  }

  ._50col {
    padding: 10px 0px;
  }

  .lettertext {
    margin-bottom: -20px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .form-block {
    padding-right: 10px;
    padding-left: 10px;
  }

  .hiddenb {
    padding-bottom: 10px;
    font-size: 14px;
  }

  .note {
    font-size: 10px;
    line-height: 14px;
  }

  .planblock {
    padding-top: 20px;
  }

  .plancontent {
    margin-bottom: 20px;
  }

  .scores {
    padding: 10px;
  }

  .openletter {
    padding-left: 10px;
  }

  .about {
    padding: 20px 10px;
  }

  .logopartner {
    width: 40%;
  }

  .footer {
    padding-top: 40px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .footlink {
    width: 100%;
  }

  .reportblock {
    padding-right: 10px;
    padding-left: 10px;
  }

  .reportlink {
    width: 100%;
  }

  .menu-button {
    padding-right: 8px;
    padding-left: 8px;
  }

  .icon {
    text-align: center;
  }

  .tabs-menu {
    padding-right: 5px;
    padding-left: 5px;
  }

  .tabpane {
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
  }

  .image {
    max-width: 250px;
    border-width: 4px;
  }
}

